<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name" placeholder="Name">Name:</label>
            <input id="name" type="text" autocomplete="off" class="pure-input-1-4" required>
        </div>

        <div class="pure-control-group">
            <label for="address" placeholder="address">Address:</label>
            <input id="address" type="text" autocomplete="off" class="pure-input-1-4">
        </div>

        <div class="pure-control-group">
            <label for="city" placeholder="city">City:</label>
            <input id="city" type="text" autocomplete="off">
        </div>

        <div class="pure-control-group">
            <label for="post-code" placeholder="Post code">Post code:</label>
            <input id="post-code" type="text" autocomplete="off">
        </div>

        <div class="pure-control-group">
          <label for="comment">Comment</label>
          <textarea id="comment" cols="30" rows="3"></textarea>
        </div>

        <div class="pure-control-group">
            <label for="powers">Powers</label>
             <select class="form-control" id="power" required>
                <option *ngFor="let power of powers" [value]="power">{{power}}</option>
            </select>
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> Confirm details are correct
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>


    </fieldset>
</form>
