<header>
  <h3>Courses <i class="fa fa-book"></i></h3>
</header>
<div class="content">
    <search-box [placeholder]="'Search for courses'"></search-box>
    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Released</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses, let i = index">
                <td>{{course.title | uppercase}}</td>
                <td>{{course.rating | number  }}</td>
                <td>{{course.students | number:'2.2-2'}}</td>
                <td>{{course.price | currency: 'GBP':true:'2.2-2'}}</td>
                <td>{{course.releaseDate | date: 'fullDate' | uppercase}}</td>
            </tr>
        </tbody>
    </table>

  <card *ngFor="let course of courses">
      <div card-title>{{course.title}}</div>
      <img card-image *ngIf="course.image" [src]="course.image" alt="image" id="card-image">
      <div card-description> {{course.description}}</div>
  </card>


  <div class="clearfix"> </div>
</div>