<header>
  <h3>Courses <i class="fa fa-book"></i></h3>
</header>
<div class="content">
  <input type="text" [value]="title" autoGrow> 
      <button class="pure-button pure-button-primary">Submit</button>
  <ul>
      <li *ngFor="let course of courses, let i = index" 
          [style.backgroundColor]="isHighlight ? '#EEEEEE' : 'grey'">
          <strong>{{i + 1}} - {{course.title}}</strong>
          <p>Rating - {{course.rating}}</p>
          <p>Students - {{course.students}}</p>
          <p>Price - {{course.price}}</p>
          <p>Released - {{course | json}}</p>
      </li>
  </ul>
</div>