<header>
  <h3>Courses</h3>
  {{title}}
</header>
<div class="content">
  <input type="text" [value]="title" autoGrow> 
      <button (click)="onClick()" class="pure-button pure-button-primary">Submit</button>
  <ul>
    <div *ngIf="courses.length">
      <li *ngFor="let course of courses, let i = index" 
          [style.backgroundColor]="isHighlight ? '#EEEEEE' : 'grey'">
          {{i + 1}} - {{course}}
      </li>
    </div>
    <div *ngIf="courses.length === 0">
      <p>You do not have any courses</p>
    </div>
  </ul>
</div>
