  <nav class="pure-menu pure-menu-horizontal menu-custom">
      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a (click)="setView('courses')" class="pure-menu-link">Courses</a></li>
          <li class="pure-menu-item"><a (click)="setView('authors')" class="pure-menu-link">Authors</a></li>
          <li class="pure-menu-item"><a (click)="setView('contact')" class="pure-menu-link">Contact</a></li>
          <li class="pure-menu-item"><a (click)="setView('subscription')" class="pure-menu-link">Subscription</a></li>
          <li class="pure-menu-item"><a (click)="setView('observables')" class="pure-menu-link">Observables RxJs</a></li>
      </ul>
  </nav>