  <nav class="pure-menu pure-menu-horizontal menu-custom">
      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a routerLink="/courses" routerLinkActive="active" class="pure-menu-link">Courses</a></li>
          <li class="pure-menu-item"><a routerLink="/authors" class="pure-menu-link">Authors</a></li>
          <li class="pure-menu-item"><a routerLink="/contact" class="pure-menu-link">Contact</a></li>
          <li class="pure-menu-item"><a routerLink="/subscription" class="pure-menu-link">Template form Subscription</a></li>
          <li class="pure-menu-item"><a routerLink="/model-form" class="pure-menu-link">Model form</a></li>
      </ul>
  </nav>