<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <h1>{{title}} </h1>
    <input type="text" [(ngModel)]="title">
    <input type="button" class="pure-button " (click)="title = ''" value="Clear">
      <favourite 
        (logEvent)="logEvent($event)" 
        [isFavourite]="post.isFavourite"
        (change)="onFavouriteChange($event)">
      </favourite>
      <courses></courses>
    <section>
      <authors></authors>
    </section>
    <voter [myVote]="post.myVote"[voteCount]="post.voteCount"></voter>
  <section>
    <comments></comments>
  </section>
  </div>
  <div class="pure-u-1-5"></div>
</div>