<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <h1>{{title}} </h1>
    <input type="text" [(ngModel)]="title">
    <input type="button" class="pure-button " (click)="title = ''" value="Clear">
      <favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite>
      <courses></courses>
    <section>
      <authors></authors>
    </section>
    <favourite (logEvent)="logEvent($event)"></favourite>
    <like 
      [isLike]="tweet.isLike"
      [likeCount]="tweet.likeCount">
    </like>
  </div>
  <div class="pure-u-1-5"></div>
</div>