<h4>Comments <i class="fa fa-comments"></i></h4>
<article 
  *ngFor="let comment of comments; let last = last" 
  [ngClass]="{'comment--spaced': last}"
   class="comment">
  <div class="media">
    <img class="media-figure" [src]="comment.image" alt="">
    <div class="media-body">
      <strong> {{comment.title}} </strong>
      <p> {{comment.body | summary:50}} </p>
      <like (change)="onLikeUpdate($event)" [isLike]="comment.isLike" [likeCount]="comment.likeCount"></like>
    </div> 
  </div>
  
</article>