img {
    max-width: 13%;
    min-width: 75px;
}

.comment--spaced {
    margin-bottom: 1.5em;
}
.comment {
    width: 100%;
    padding: .8em 1em 0;
    background: #eee;
    border-radius: 3px;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  flex: 1;
}
